USE [master]
GO
/****** Object:  Database [MABS_Appointment]    Script Date: 12/23/2025 10:08:00 PM ******/
CREATE DATABASE [MABS_Appointment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MABS_Appointment', FILENAME = N'D:\SQL server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MABS_Appointment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MABS_Appointment_log', FILENAME = N'D:\SQL server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MABS_Appointment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MABS_Appointment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MABS_Appointment]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/23/2025 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 12/23/2025 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NULL,
	[ServiceId] [uniqueidentifier] NULL,
	[AppointmentDate] [datetime2](7) NOT NULL,
	[AppointmentTimeId] [int] NOT NULL,
	[HospitalId] [uniqueidentifier] NULL,
	[AppointmentType] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Reason] [nvarchar](4000) NULL,
	[Result] [nvarchar](4000) NULL,
	[Symptoms] [nvarchar](4000) NULL,
	[AttachmentUrls] [nvarchar](2000) NULL,
	[CancelledBy] [nvarchar](max) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[SpecialtyId] [uniqueidentifier] NULL,
	[IsRescheduled] [bit] NOT NULL,
	[RescheduleToken] [nvarchar](100) NULL,
	[RescheduleTokenExpiry] [datetime2](7) NULL,
	[AssignedDoctorId] [uniqueidentifier] NULL,
	[SoftReservedUntil] [datetime2](7) NULL,
	[PendingNewAppointmentDate] [datetime2](7) NULL,
	[PendingNewAppointmentTimeId] [int] NULL,
	[PendingNewDoctorId] [uniqueidentifier] NULL,
	[PendingRescheduleAction] [nvarchar](20) NULL,
	[PatientAccountId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[RelativeId] [uniqueidentifier] NULL,
	[Reminder1HourSent] [bit] NOT NULL,
	[Reminder24HoursSent] [bit] NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251018032429_AddNewFieldToAppointment', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251019024800_AddNewPropertiesCancel', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251019045338_AddNewPropertiesAssignDoctor', N'8.0.0')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Doctor_Date_Status]    Script Date: 12/23/2025 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Doctor_Date_Status] ON [dbo].[Appointments]
(
	[DoctorId] ASC,
	[AppointmentDate] ASC,
	[Status] ASC
)
WHERE ([DoctorId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctor_Date_Time_Unique]    Script Date: 12/23/2025 10:08:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Doctor_Date_Time_Unique] ON [dbo].[Appointments]
(
	[DoctorId] ASC,
	[AppointmentDate] ASC,
	[AppointmentTimeId] ASC
)
WHERE ([DoctorId] IS NOT NULL AND ([Status] IN ('PENDING', 'CONFIRMED')))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Patient_Date_Status]    Script Date: 12/23/2025 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Patient_Date_Status] ON [dbo].[Appointments]
(
	[PatientId] ASC,
	[AppointmentDate] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patient_Date_Time_Unique]    Script Date: 12/23/2025 10:08:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Patient_Date_Time_Unique] ON [dbo].[Appointments]
(
	[PatientId] ASC,
	[AppointmentDate] ASC,
	[AppointmentTimeId] ASC
)
WHERE ([RelativeId] IS NULL AND ([Status] IN ('PENDING', 'CONFIRMED')))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relative_Date_Time_Unique]    Script Date: 12/23/2025 10:08:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Relative_Date_Time_Unique] ON [dbo].[Appointments]
(
	[RelativeId] ASC,
	[AppointmentDate] ASC,
	[AppointmentTimeId] ASC
)
WHERE ([RelativeId] IS NOT NULL AND ([Status] IN ('PENDING', 'CONFIRMED')))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Service_Date_Status]    Script Date: 12/23/2025 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Service_Date_Status] ON [dbo].[Appointments]
(
	[ServiceId] ASC,
	[AppointmentDate] ASC,
	[Status] ASC
)
WHERE ([ServiceId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Service_Date_Time]    Script Date: 12/23/2025 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Service_Date_Time] ON [dbo].[Appointments]
(
	[ServiceId] ASC,
	[AppointmentDate] ASC,
	[AppointmentTimeId] ASC
)
WHERE ([ServiceId] IS NOT NULL AND ([Status] IN ('PENDING', 'CONFIRMED')))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRescheduled]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [PatientAccountId]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Reminder1HourSent]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Reminder24HoursSent]
GO
USE [master]
GO
