USE [master]
GO
/****** Object:  Database [MABS_AI]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE DATABASE [MABS_AI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MABS_AI', FILENAME = N'D:\SQL server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MABS_AI.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MABS_AI_log', FILENAME = N'D:\SQL server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MABS_AI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MABS_AI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MABS_AI]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/23/2025 9:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AILabToolsApiKeys]    Script Date: 12/23/2025 9:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AILabToolsApiKeys](
	[Id] [uniqueidentifier] NOT NULL,
	[ApiKey] [nvarchar](500) NOT NULL,
	[UsageCount] [int] NOT NULL,
	[MaxUsageCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUsedAt] [datetime2](7) NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_AILabToolsApiKeys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationContextKeywords]    Script Date: 12/23/2025 9:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationContextKeywords](
	[Id] [uniqueidentifier] NOT NULL,
	[Keyword] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Synonyms] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConversationContextKeywords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationSessions]    Script Date: 12/23/2025 9:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationSessions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ConversationHistory] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[ConversationType] [int] NOT NULL,
	[FileUploadCount] [int] NOT NULL,
 CONSTRAINT [PK_ConversationSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DermatologyDiseaseCache]    Script Date: 12/23/2025 9:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DermatologyDiseaseCache](
	[Id] [uniqueidentifier] NOT NULL,
	[EnglishName] [nvarchar](200) NOT NULL,
	[VietnameseName] [nvarchar](200) NOT NULL,
	[AdviceJson] [nvarchar](max) NOT NULL,
	[UsageCount] [int] NOT NULL,
	[SuccessRate] [float] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUsedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ReasonsJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_DermatologyDiseaseCache] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabResultAbnormalIndicatorCache]    Script Date: 12/23/2025 9:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabResultAbnormalIndicatorCache](
	[Id] [uniqueidentifier] NOT NULL,
	[NormalizedKeywords] [nvarchar](2000) NOT NULL,
	[NormalizedText] [nvarchar](max) NULL,
	[AbnormalIndicatorsJson] [nvarchar](max) NOT NULL,
	[NormalIndicatorsJson] [nvarchar](max) NOT NULL,
	[SpecialtiesJson] [nvarchar](2000) NOT NULL,
	[Disclaimer] [nvarchar](1000) NULL,
	[UsageCount] [int] NOT NULL,
	[SuccessRate] [float] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUsedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_LabResultAbnormalIndicatorCache] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealPlans]    Script Date: 12/23/2025 9:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealPlans](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[NutritionProfileId] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[TotalCalories] [int] NOT NULL,
	[TotalProteinG] [decimal](18, 2) NOT NULL,
	[TotalCarbsG] [decimal](18, 2) NOT NULL,
	[TotalFatG] [decimal](18, 2) NOT NULL,
	[MealsJson] [nvarchar](max) NOT NULL,
	[GeneratedAt] [datetime2](7) NOT NULL,
	[IsNotificationSent] [bit] NOT NULL,
	[CompletedItemsJson] [nvarchar](max) NULL,
	[IsFullyCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_MealPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NutritionProfiles]    Script Date: 12/23/2025 9:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NutritionProfiles](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[HeightCm] [decimal](18, 2) NOT NULL,
	[WeightKg] [decimal](18, 2) NOT NULL,
	[BMI] [decimal](18, 2) NOT NULL,
	[ActivityLevel] [nvarchar](50) NOT NULL,
	[HealthGoal] [nvarchar](50) NOT NULL,
	[TargetCalories] [int] NOT NULL,
	[TargetProteinG] [decimal](18, 2) NOT NULL,
	[TargetCarbsG] [decimal](18, 2) NOT NULL,
	[TargetFatG] [decimal](18, 2) NOT NULL,
	[HealthConditionsJson] [nvarchar](max) NULL,
	[DietaryPreferencesJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[BMR] [decimal](18, 2) NOT NULL,
	[LastCompletedDate] [datetime2](7) NULL,
	[StreakCount] [int] NOT NULL,
	[TDEE] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_NutritionProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SymptomQuestionCache]    Script Date: 12/23/2025 9:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SymptomQuestionCache](
	[Id] [uniqueidentifier] NOT NULL,
	[InitialSymptom] [nvarchar](500) NOT NULL,
	[ConversationContext] [nvarchar](1000) NULL,
	[NormalizedKeywords] [nvarchar](1000) NOT NULL,
	[QuestionNumber] [int] NOT NULL,
	[Question] [nvarchar](1000) NOT NULL,
	[Purpose] [nvarchar](500) NULL,
	[Priority] [nvarchar](20) NULL,
	[UsageCount] [int] NOT NULL,
	[SuccessRate] [float] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUsedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[NormalizedMessage] [nvarchar](500) NULL,
 CONSTRAINT [PK_SymptomQuestionCache] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkoutPlans]    Script Date: 12/23/2025 9:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkoutPlans](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[NutritionProfileId] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[WorkoutType] [nvarchar](100) NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[EstimatedCaloriesBurned] [int] NOT NULL,
	[ExercisesJson] [nvarchar](max) NOT NULL,
	[GeneratedAt] [datetime2](7) NOT NULL,
	[IsNotificationSent] [bit] NOT NULL,
	[CompletedItemsJson] [nvarchar](max) NULL,
	[IsFullyCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_WorkoutPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251109042119_InitialCreate', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251109150149_update-create-update-date-to-utc', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251110050247_add-title-column', N'8.0.8')
GO
INSERT [dbo].[AILabToolsApiKeys] ([Id], [ApiKey], [UsageCount], [MaxUsageCount], [IsActive], [CreatedAt], [LastUsedAt], [Notes]) VALUES (N'd4e61a6d-b800-44b9-bd6c-125a5ccfbdd4', N'8NRfWhc5MASiNCzPYV9hxGPp83qsxRk1MIwlIGogJmvgUBw2O0dbXKu0mBQy2jEb', 2, 10, 1, CAST(N'2025-12-16T15:00:35.8266667' AS DateTime2), CAST(N'2025-12-22T15:13:41.2602131' AS DateTime2), N'Key 2')
INSERT [dbo].[AILabToolsApiKeys] ([Id], [ApiKey], [UsageCount], [MaxUsageCount], [IsActive], [CreatedAt], [LastUsedAt], [Notes]) VALUES (N'686ff6a2-ec1a-4e32-bf58-906574dd8067', N'1P5ZWwAVl09no43kG5rETOb6OX2QHDacUyCggRNezfF3hLZTJBVixuRrCK1ciG2S', 2, 10, 1, CAST(N'2025-12-16T15:00:35.8266667' AS DateTime2), CAST(N'2025-12-22T15:06:12.3897567' AS DateTime2), N'Key 3')
INSERT [dbo].[AILabToolsApiKeys] ([Id], [ApiKey], [UsageCount], [MaxUsageCount], [IsActive], [CreatedAt], [LastUsedAt], [Notes]) VALUES (N'21f0e10f-24d7-4636-93ff-c937a6871d47', N'KZxPxd2DorUBCjypUnM6AhnkqL3G59Hw8AvdlEl8oPFawzVR71yMY4ZbQueIDku6', 1, 10, 1, CAST(N'2025-12-16T15:00:35.8266667' AS DateTime2), CAST(N'2025-12-22T13:39:37.9785343' AS DateTime2), N'Key 4')
GO
INSERT [dbo].[ConversationContextKeywords] ([Id], [Keyword], [Category], [Synonyms], [CreatedAt]) VALUES (N'335b0990-d2df-499e-949b-022b2dca02c5', N'chóng mặt', N'SYMPTOM', N'["chóng mặt"]', CAST(N'2025-12-08T05:04:30.0619100' AS DateTime2))
INSERT [dbo].[ConversationContextKeywords] ([Id], [Keyword], [Category], [Synonyms], [CreatedAt]) VALUES (N'522a577a-5af3-484c-91e6-05564ec47aab', N'tuần trước', N'SYMPTOM', N'["tuần trước"]', CAST(N'2025-12-07T16:56:26.3717886' AS DateTime2))
INSERT [dbo].[ConversationContextKeywords] ([Id], [Keyword], [Category], [Synonyms], [CreatedAt]) VALUES (N'0b177cb6-4100-4f8d-84bc-064f2b767a1f', N'đau mắt', N'SYMPTOM', N'["đau mắt"]', CAST(N'2025-12-07T16:53:50.6536908' AS DateTime2))
GO
INSERT [dbo].[DermatologyDiseaseCache] ([Id], [EnglishName], [VietnameseName], [AdviceJson], [UsageCount], [SuccessRate], [CreatedAt], [LastUsedAt], [CreatedBy], [ReasonsJson]) VALUES (N'12c9d30a-6031-4007-ae6c-35fa24aea30e', N'acne', N'Trứng cá', N'{"Nhẹ":["Rửa mặt 2 lần/ngày bằng sữa rửa mặt dịu nhẹ","Hạn chế đồ ăn ngọt, sữa và tăng rau củ quả","Không nặn mụn để tránh viêm nhiễm"]}', 9, 0, CAST(N'2025-12-08T02:12:21.8696550' AS DateTime2), CAST(N'2025-12-22T15:06:14.9600000' AS DateTime2), N'GROQ', NULL)
GO
/****** Object:  Index [IX_AILabToolsApiKeys_IsActive]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AILabToolsApiKeys_IsActive] ON [dbo].[AILabToolsApiKeys]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AILabToolsApiKeys_LastUsedAt]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AILabToolsApiKeys_LastUsedAt] ON [dbo].[AILabToolsApiKeys]
(
	[LastUsedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AILabToolsApiKeys_UsageCount]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AILabToolsApiKeys_UsageCount] ON [dbo].[AILabToolsApiKeys]
(
	[UsageCount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ConversationContextKeywords_Category]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConversationContextKeywords_Category] ON [dbo].[ConversationContextKeywords]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ConversationContextKeywords_Keyword]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ConversationContextKeywords_Keyword] ON [dbo].[ConversationContextKeywords]
(
	[Keyword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConversationSessions_CreatedAt]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConversationSessions_CreatedAt] ON [dbo].[ConversationSessions]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConversationSessions_UserId]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConversationSessions_UserId] ON [dbo].[ConversationSessions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Dermatology_EnglishName]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Dermatology_EnglishName] ON [dbo].[DermatologyDiseaseCache]
(
	[EnglishName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DermatologyDiseaseCache_LastUsedAt]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_DermatologyDiseaseCache_LastUsedAt] ON [dbo].[DermatologyDiseaseCache]
(
	[LastUsedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DermatologyDiseaseCache_UsageCount]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_DermatologyDiseaseCache_UsageCount] ON [dbo].[DermatologyDiseaseCache]
(
	[UsageCount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LabResult_NormalizedKeywords]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_LabResult_NormalizedKeywords] ON [dbo].[LabResultAbnormalIndicatorCache]
(
	[NormalizedKeywords] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LabResultAbnormalIndicatorCache_LastUsedAt]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_LabResultAbnormalIndicatorCache_LastUsedAt] ON [dbo].[LabResultAbnormalIndicatorCache]
(
	[LastUsedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LabResultAbnormalIndicatorCache_UsageCount]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_LabResultAbnormalIndicatorCache_UsageCount] ON [dbo].[LabResultAbnormalIndicatorCache]
(
	[UsageCount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MealPlans_AccountId_Date]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_MealPlans_AccountId_Date] ON [dbo].[MealPlans]
(
	[AccountId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MealPlans_IsNotificationSent]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_MealPlans_IsNotificationSent] ON [dbo].[MealPlans]
(
	[IsNotificationSent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MealPlans_NutritionProfileId]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_MealPlans_NutritionProfileId] ON [dbo].[MealPlans]
(
	[NutritionProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NutritionProfiles_AccountId]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_NutritionProfiles_AccountId] ON [dbo].[NutritionProfiles]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NutritionProfiles_CreatedAt]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_NutritionProfiles_CreatedAt] ON [dbo].[NutritionProfiles]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NormalizedKeywords_QuestionNumber]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_NormalizedKeywords_QuestionNumber] ON [dbo].[SymptomQuestionCache]
(
	[NormalizedKeywords] ASC,
	[QuestionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NormalizedMessage_QuestionNumber]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_NormalizedMessage_QuestionNumber] ON [dbo].[SymptomQuestionCache]
(
	[NormalizedMessage] ASC,
	[QuestionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SymptomQuestionCache_InitialSymptom]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_SymptomQuestionCache_InitialSymptom] ON [dbo].[SymptomQuestionCache]
(
	[InitialSymptom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SymptomQuestionCache_LastUsedAt]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_SymptomQuestionCache_LastUsedAt] ON [dbo].[SymptomQuestionCache]
(
	[LastUsedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SymptomQuestionCache_UsageCount]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_SymptomQuestionCache_UsageCount] ON [dbo].[SymptomQuestionCache]
(
	[UsageCount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkoutPlans_AccountId_Date]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkoutPlans_AccountId_Date] ON [dbo].[WorkoutPlans]
(
	[AccountId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkoutPlans_IsNotificationSent]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkoutPlans_IsNotificationSent] ON [dbo].[WorkoutPlans]
(
	[IsNotificationSent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkoutPlans_NutritionProfileId]    Script Date: 12/23/2025 9:11:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkoutPlans_NutritionProfileId] ON [dbo].[WorkoutPlans]
(
	[NutritionProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AILabToolsApiKeys] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[AILabToolsApiKeys] ADD  DEFAULT ((10)) FOR [MaxUsageCount]
GO
ALTER TABLE [dbo].[AILabToolsApiKeys] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[AILabToolsApiKeys] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ConversationContextKeywords] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [UserId]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT (N'[]') FOR [ConversationHistory]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT ((0)) FOR [ConversationType]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT ((0)) FOR [FileUploadCount]
GO
ALTER TABLE [dbo].[DermatologyDiseaseCache] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[DermatologyDiseaseCache] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [SuccessRate]
GO
ALTER TABLE [dbo].[DermatologyDiseaseCache] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DermatologyDiseaseCache] ADD  DEFAULT (getutcdate()) FOR [LastUsedAt]
GO
ALTER TABLE [dbo].[LabResultAbnormalIndicatorCache] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[LabResultAbnormalIndicatorCache] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [SuccessRate]
GO
ALTER TABLE [dbo].[LabResultAbnormalIndicatorCache] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LabResultAbnormalIndicatorCache] ADD  DEFAULT (getutcdate()) FOR [LastUsedAt]
GO
ALTER TABLE [dbo].[MealPlans] ADD  DEFAULT (N'[]') FOR [MealsJson]
GO
ALTER TABLE [dbo].[MealPlans] ADD  DEFAULT (getutcdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[MealPlans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsNotificationSent]
GO
ALTER TABLE [dbo].[MealPlans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsFullyCompleted]
GO
ALTER TABLE [dbo].[NutritionProfiles] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NutritionProfiles] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[NutritionProfiles] ADD  DEFAULT ((0.0)) FOR [BMR]
GO
ALTER TABLE [dbo].[NutritionProfiles] ADD  DEFAULT ((0)) FOR [StreakCount]
GO
ALTER TABLE [dbo].[NutritionProfiles] ADD  DEFAULT ((0.0)) FOR [TDEE]
GO
ALTER TABLE [dbo].[SymptomQuestionCache] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[SymptomQuestionCache] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [SuccessRate]
GO
ALTER TABLE [dbo].[SymptomQuestionCache] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SymptomQuestionCache] ADD  DEFAULT (getutcdate()) FOR [LastUsedAt]
GO
ALTER TABLE [dbo].[WorkoutPlans] ADD  DEFAULT (N'[]') FOR [ExercisesJson]
GO
ALTER TABLE [dbo].[WorkoutPlans] ADD  DEFAULT (getutcdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[WorkoutPlans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsNotificationSent]
GO
ALTER TABLE [dbo].[WorkoutPlans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsFullyCompleted]
GO
ALTER TABLE [dbo].[MealPlans]  WITH CHECK ADD  CONSTRAINT [FK_MealPlans_NutritionProfiles_NutritionProfileId] FOREIGN KEY([NutritionProfileId])
REFERENCES [dbo].[NutritionProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MealPlans] CHECK CONSTRAINT [FK_MealPlans_NutritionProfiles_NutritionProfileId]
GO
ALTER TABLE [dbo].[WorkoutPlans]  WITH CHECK ADD  CONSTRAINT [FK_WorkoutPlans_NutritionProfiles_NutritionProfileId] FOREIGN KEY([NutritionProfileId])
REFERENCES [dbo].[NutritionProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkoutPlans] CHECK CONSTRAINT [FK_WorkoutPlans_NutritionProfiles_NutritionProfileId]
GO
USE [master]
GO
