USE [master]
GO
/****** Object:  Database [MABS_Doctor]    Script Date: 12/19/2025 9:02:17 PM ******/
CREATE DATABASE [MABS_Doctor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MABS_Doctor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MABS_Doctor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MABS_Doctor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MABS_Doctor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MABS_Doctor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MABS_Doctor]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/19/2025 9:02:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_languages]    Script Date: 12/19/2025 9:02:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_languages](
	[id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[language_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_doctor_languages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_prices]    Script Date: 12/19/2025 9:02:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_prices](
	[id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[service_type_id] [uniqueidentifier] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_doctor_prices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_service_types]    Script Date: 12/19/2025 9:02:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_service_types](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[image_url] [nvarchar](max) NOT NULL,
	[status] [nvarchar](10) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_doctor_service_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 12/19/2025 9:02:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[id] [uniqueidentifier] NOT NULL,
	[account_id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[address] [nvarchar](max) NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](20) NULL,
	[position_id] [uniqueidentifier] NULL,
	[specialty_id] [uniqueidentifier] NULL,
	[hospital_id] [uniqueidentifier] NULL,
	[bio] [nvarchar](max) NULL,
	[years_of_experience] [int] NOT NULL,
	[avatar_url] [nvarchar](500) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_doctors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[languages]    Script Date: 12/19/2025 9:02:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[languages](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [nvarchar](10) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_languages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 12/19/2025 9:02:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [nvarchar](10) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_positions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialties]    Script Date: 12/19/2025 9:02:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialties](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[image_url] [nvarchar](max) NOT NULL,
	[status] [nvarchar](10) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_specialties] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251203034141_AddInitDatabase', N'8.0.0')
GO
INSERT [dbo].[doctor_languages] ([id], [doctor_id], [language_id]) VALUES (N'cccdb996-3784-4e07-909f-07bd1d0a9cbd', N'ca326e1e-52bc-48f4-9e03-0171aa6fcbce', N'2ec1ae66-acf1-4986-84ec-75bc37ebffd3')
INSERT [dbo].[doctor_languages] ([id], [doctor_id], [language_id]) VALUES (N'e305a97b-cc06-403a-82ca-c7b7e2522e63', N'd0ec2e06-b012-4f15-bdc2-0200b07c6b87', N'2ec1ae66-acf1-4986-84ec-75bc37ebffd3')
INSERT [dbo].[doctor_languages] ([id], [doctor_id], [language_id]) VALUES (N'c21bdcc9-72de-4d58-9760-08d8c808edf4', N'80e051a7-1b38-47c6-83aa-028b4e7262b7', N'23ca54df-7fb8-4efd-9ee7-00bb8be205aa')
GO
INSERT [dbo].[doctor_prices] ([id], [doctor_id], [service_type_id], [amount], [created_at], [updated_at]) VALUES (N'e05e4b66-4ace-4b33-bd04-002e6903ba39', N'09f17381-b1b7-4817-84f4-2374307256e2', N'511e327a-037d-4622-90e7-e667c4e14c55', CAST(450000.00 AS Decimal(10, 2)), CAST(N'2025-12-02T09:57:49.4900000' AS DateTime2), CAST(N'2025-12-02T09:57:49.4900000' AS DateTime2))
INSERT [dbo].[doctor_prices] ([id], [doctor_id], [service_type_id], [amount], [created_at], [updated_at]) VALUES (N'e1777cd5-942c-4671-863d-0394010b7f5c', N'0b5e2b74-e7ac-45e6-8461-966e1b156d7c', N'1e9dae6e-31a3-4a77-8611-8a58bd8e713d', CAST(550000.00 AS Decimal(10, 2)), CAST(N'2025-12-02T09:57:49.4900000' AS DateTime2), CAST(N'2025-12-02T09:57:49.4900000' AS DateTime2))
INSERT [dbo].[doctor_prices] ([id], [doctor_id], [service_type_id], [amount], [created_at], [updated_at]) VALUES (N'a9b7766f-4a36-47e0-877c-073804765f82', N'e03df8f5-231b-446a-b0e6-53596329a43f', N'610f37d1-c056-408f-82c3-9a2b66546d7b', CAST(800000.00 AS Decimal(10, 2)), CAST(N'2025-12-02T09:57:49.4900000' AS DateTime2), CAST(N'2025-12-02T09:57:49.4900000' AS DateTime2))
GO
INSERT [dbo].[doctor_service_types] ([id], [name], [description], [image_url], [status], [created_at], [updated_at]) VALUES (N'77eecbfd-f4a0-4456-9cc9-09cbb1e00479', N'Khám tại nhà', N'Dịch vụ bác sĩ đến tận nhà để thăm khám và điều trị.', N'https://doccure.dreamstechnologies.com/html/template/assets/img/icons/list-icon-01.svg', N'ACTIVE', CAST(N'2025-10-04T20:33:13.7500000' AS DateTime2), CAST(N'2025-10-25T02:19:00.6087698' AS DateTime2))
INSERT [dbo].[doctor_service_types] ([id], [name], [description], [image_url], [status], [created_at], [updated_at]) VALUES (N'1e9dae6e-31a3-4a77-8611-8a58bd8e713d', N'Khám trực tiếp', N'Đặt lịch khám trực tiếp tại bệnh viện hoặc phòng khám.', N'https://doccure.dreamstechnologies.com/html/template/assets/img/icons/list-icon-02.svg', N'ACTIVE', CAST(N'2025-10-24T15:30:47.4147411' AS DateTime2), CAST(N'2025-12-03T15:39:09.0733333' AS DateTime2))
INSERT [dbo].[doctor_service_types] ([id], [name], [description], [image_url], [status], [created_at], [updated_at]) VALUES (N'610f37d1-c056-408f-82c3-9a2b66546d7b', N'Khám tổng quát', N'Gói khám sức khỏe tổng quát, kiểm tra toàn diện.', N'https://doccure.dreamstechnologies.com/html/template/assets/img/icons/list-icon-03.svg', N'ACTIVE', CAST(N'2025-10-04T20:33:13.7500000' AS DateTime2), CAST(N'2025-10-17T15:01:48.1766667' AS DateTime2))
GO
INSERT [dbo].[languages] ([id], [name], [status], [created_at], [updated_at]) VALUES (N'23ca54df-7fb8-4efd-9ee7-00bb8be205aa', N'Tiếng Trung', N'ACTIVE', CAST(N'2025-12-02T00:14:12.2766667' AS DateTime2), CAST(N'2025-12-02T00:14:12.2766667' AS DateTime2))
INSERT [dbo].[languages] ([id], [name], [status], [created_at], [updated_at]) VALUES (N'e767138c-af93-4a60-aad1-286a947b32ac', N'Tiếng Thái', N'ACTIVE', CAST(N'2025-12-02T00:14:12.2766667' AS DateTime2), CAST(N'2025-12-02T00:14:12.2766667' AS DateTime2))
INSERT [dbo].[languages] ([id], [name], [status], [created_at], [updated_at]) VALUES (N'fd52e674-2e9c-444e-8a03-488b0016612f', N'Tiếng Bồ Đào Nha', N'ACTIVE', CAST(N'2025-12-02T00:14:12.2766667' AS DateTime2), CAST(N'2025-12-02T00:14:12.2766667' AS DateTime2))
GO
INSERT [dbo].[positions] ([id], [name], [status], [created_at], [updated_at]) VALUES (N'3620c911-d2ee-4558-bd2d-01eca6d923e3', N'Thạc sĩ', N'ACTIVE', CAST(N'2025-09-26T14:51:55.7866667' AS DateTime2), CAST(N'2025-10-19T01:59:20.8074182' AS DateTime2))
INSERT [dbo].[positions] ([id], [name], [status], [created_at], [updated_at]) VALUES (N'c26b7fd6-5ea0-4189-80e9-082289a4e181', N'Cử nhân', N'ACTIVE', CAST(N'2025-09-26T14:51:55.7866667' AS DateTime2), CAST(N'2025-09-26T14:51:55.7866667' AS DateTime2))
INSERT [dbo].[positions] ([id], [name], [status], [created_at], [updated_at]) VALUES (N'18c66d5a-22f4-4736-a1fc-0d2e5e97a224', N'Bác sĩ tâm thần', N'ACTIVE', CAST(N'2025-09-26T14:51:55.7866667' AS DateTime2), CAST(N'2025-09-26T14:51:55.7866667' AS DateTime2))
GO
INSERT [dbo].[specialties] ([id], [name], [image_url], [status], [created_at], [updated_at]) VALUES (N'5669d704-ed3d-4854-b4b9-028a1d8161ff', N'Nội khoa', N'https://doccure.dreamstechnologies.com/html/template/assets/img/specialities/speciality-09.svg', N'ACTIVE', CAST(N'2025-09-26T14:51:55.8066667' AS DateTime2), CAST(N'2025-11-09T22:58:57.2000000' AS DateTime2))
INSERT [dbo].[specialties] ([id], [name], [image_url], [status], [created_at], [updated_at]) VALUES (N'60b761bf-751a-42f0-b7f6-07768e6029d9', N'Ngoại khoa', N'https://d24em9p7s2uixh.cloudfront.net/specialties/ngoai_khoa_20251202_17484ce8.png', N'ACTIVE', CAST(N'2025-09-26T14:51:55.8066667' AS DateTime2), CAST(N'2025-12-02T05:12:21.1231684' AS DateTime2))
INSERT [dbo].[specialties] ([id], [name], [image_url], [status], [created_at], [updated_at]) VALUES (N'00258ea8-eaa7-497b-8798-10870fde975b', N'Sản phụ khoa', N'https://doccure.dreamstechnologies.com/html/template/assets/img/specialities/speciality-11.svg', N'ACTIVE', CAST(N'2025-11-09T22:39:40.5100000' AS DateTime2), CAST(N'2025-11-09T22:58:57.2000000' AS DateTime2))
GO
/****** Object:  Index [IX_doctor_languages_doctor_id_language_id]    Script Date: 12/19/2025 9:02:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_doctor_languages_doctor_id_language_id] ON [dbo].[doctor_languages]
(
	[doctor_id] ASC,
	[language_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_languages_language_id]    Script Date: 12/19/2025 9:02:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_doctor_languages_language_id] ON [dbo].[doctor_languages]
(
	[language_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_prices_doctor_id]    Script Date: 12/19/2025 9:02:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_doctor_prices_doctor_id] ON [dbo].[doctor_prices]
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_prices_service_type_id]    Script Date: 12/19/2025 9:02:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_doctor_prices_service_type_id] ON [dbo].[doctor_prices]
(
	[service_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctors_account_id]    Script Date: 12/19/2025 9:02:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_doctors_account_id] ON [dbo].[doctors]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_doctors_email]    Script Date: 12/19/2025 9:02:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_doctors_email] ON [dbo].[doctors]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctors_position_id]    Script Date: 12/19/2025 9:02:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_doctors_position_id] ON [dbo].[doctors]
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctors_specialty_id]    Script Date: 12/19/2025 9:02:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_doctors_specialty_id] ON [dbo].[doctors]
(
	[specialty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[doctor_prices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_prices] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[doctor_service_types] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_service_types] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[doctors] ADD  DEFAULT ((0)) FOR [years_of_experience]
GO
ALTER TABLE [dbo].[doctors] ADD  DEFAULT (N'https://bookingcaree.com/user-avatar-default.png') FOR [avatar_url]
GO
ALTER TABLE [dbo].[doctors] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctors] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[languages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[languages] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[specialties] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[specialties] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[doctor_languages]  WITH CHECK ADD  CONSTRAINT [FK_doctor_languages_doctors_doctor_id] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_languages] CHECK CONSTRAINT [FK_doctor_languages_doctors_doctor_id]
GO
ALTER TABLE [dbo].[doctor_languages]  WITH CHECK ADD  CONSTRAINT [FK_doctor_languages_languages_language_id] FOREIGN KEY([language_id])
REFERENCES [dbo].[languages] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_languages] CHECK CONSTRAINT [FK_doctor_languages_languages_language_id]
GO
ALTER TABLE [dbo].[doctor_prices]  WITH CHECK ADD  CONSTRAINT [FK_doctor_prices_doctor_service_types_service_type_id] FOREIGN KEY([service_type_id])
REFERENCES [dbo].[doctor_service_types] ([id])
GO
ALTER TABLE [dbo].[doctor_prices] CHECK CONSTRAINT [FK_doctor_prices_doctor_service_types_service_type_id]
GO
ALTER TABLE [dbo].[doctor_prices]  WITH CHECK ADD  CONSTRAINT [FK_doctor_prices_doctors_doctor_id] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_prices] CHECK CONSTRAINT [FK_doctor_prices_doctors_doctor_id]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK_doctors_positions_position_id] FOREIGN KEY([position_id])
REFERENCES [dbo].[positions] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK_doctors_positions_position_id]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK_doctors_specialties_specialty_id] FOREIGN KEY([specialty_id])
REFERENCES [dbo].[specialties] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK_doctors_specialties_specialty_id]
GO
USE [master]
GO
