USE [master]
GO
/****** Object:  Database [MABS_Hospital]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE DATABASE [MABS_Hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MABS_Hospital', FILENAME = N'D:\SQL server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MABS_Hospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MABS_Hospital_log', FILENAME = N'D:\SQL server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MABS_Hospital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MABS_Hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MABS_Hospital]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin_signatures]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_signatures](
	[id] [uniqueidentifier] NOT NULL,
	[admin_id] [nvarchar](450) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[position] [nvarchar](100) NOT NULL,
	[signature_image_url] [nvarchar](max) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_admin_signatures] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract_signing_tokens]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract_signing_tokens](
	[id] [uniqueidentifier] NOT NULL,
	[registration_id] [uniqueidentifier] NOT NULL,
	[token] [nvarchar](500) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[is_used] [bit] NOT NULL,
	[used_at] [datetime2](7) NULL,
	[signed_from_ip] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_contract_signing_tokens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospital_images]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_images](
	[id] [uniqueidentifier] NOT NULL,
	[hospital_id] [uniqueidentifier] NOT NULL,
	[image_url] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_hospital_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospital_registrations]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_registrations](
	[id] [uniqueidentifier] NOT NULL,
	[hospital_name] [nvarchar](255) NOT NULL,
	[representative_email] [nvarchar](100) NOT NULL,
	[representative_phone] [nvarchar](20) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[license_file] [nvarchar](max) NOT NULL,
	[business_certificate_file] [nvarchar](max) NOT NULL,
	[identity_card_file] [nvarchar](max) NOT NULL,
	[tax_code] [nvarchar](50) NOT NULL,
	[status] [int] NOT NULL,
	[contract_file] [nvarchar](max) NULL,
	[hospital_id] [uniqueidentifier] NULL,
	[reason] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[hospital_email] [nvarchar](100) NOT NULL,
	[hospital_phone] [nvarchar](20) NOT NULL,
	[representative_name] [nvarchar](255) NOT NULL,
	[admin_signature_id] [uniqueidentifier] NULL,
	[contract_draft_file] [nvarchar](max) NULL,
	[contract_number] [nvarchar](50) NULL,
	[hospital_signature] [nvarchar](max) NULL,
	[signed_at] [datetime2](7) NULL,
	[contract_date] [datetime2](7) NULL,
	[contract_effective_date] [datetime2](7) NULL,
	[contract_expiry_date] [datetime2](7) NULL,
	[ekyc_session_id] [nvarchar](100) NULL,
	[ekyc_status] [int] NOT NULL,
	[ekyc_verified_at] [datetime2](7) NULL,
	[face_match_score] [decimal](18, 2) NULL,
	[liveness_score] [decimal](18, 2) NULL,
 CONSTRAINT [PK_hospital_registrations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospital_service_medicals]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_service_medicals](
	[hospital_id] [uniqueidentifier] NOT NULL,
	[service_medical_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_hospital_service_medicals] PRIMARY KEY CLUSTERED 
(
	[hospital_id] ASC,
	[service_medical_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospital_service_types]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_service_types](
	[hospital_id] [uniqueidentifier] NOT NULL,
	[service_type_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_hospital_service_types] PRIMARY KEY CLUSTERED 
(
	[hospital_id] ASC,
	[service_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospital_specialties]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_specialties](
	[hospital_id] [uniqueidentifier] NOT NULL,
	[specialty_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_hospital_specialties] PRIMARY KEY CLUSTERED 
(
	[hospital_id] ASC,
	[specialty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospital_subscriptions]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_subscriptions](
	[hospital_subscription_id] [uniqueidentifier] NOT NULL,
	[hospital_id] [uniqueidentifier] NOT NULL,
	[subscription_id] [uniqueidentifier] NOT NULL,
	[start_date] [datetime2](7) NOT NULL,
	[end_date] [datetime2](7) NOT NULL,
	[status] [nvarchar](450) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[appointment_count] [int] NOT NULL,
	[doctor_count] [int] NOT NULL,
	[service_count] [int] NOT NULL,
	[specialty_count] [int] NOT NULL,
 CONSTRAINT [PK_hospital_subscriptions] PRIMARY KEY CLUSTERED 
(
	[hospital_subscription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospitals]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospitals](
	[id] [uniqueidentifier] NOT NULL,
	[account_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[background_url] [nvarchar](max) NULL,
	[avatar_url] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_hospitals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subscription_plans]    Script Date: 12/24/2025 7:16:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subscription_plans](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[billing_cycle] [nvarchar](20) NOT NULL,
	[max_doctors] [int] NULL,
	[max_specialties] [int] NULL,
	[max_appointments] [int] NULL,
	[features] [nvarchar](max) NULL,
	[status] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[max_services] [int] NULL,
 CONSTRAINT [PK_subscription_plans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251102042755_init-database', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251105082751_RemoveS3KeyAndDescriptionFromHospitalImages', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251113105443_AddRepresentativeHospital', N'8.0.0')
GO
INSERT [dbo].[admin_signatures] ([id], [admin_id], [full_name], [position], [signature_image_url], [is_active], [created_at], [updated_at]) VALUES (N'b046e1d7-983e-40ab-916d-76e0bf54cbd0', N'43a71033-ca75-4380-7a03-08de12d8d27b', N'Kiều Văn Huy', N'Giám đốc', N'https://d24em9p7s2uixh.cloudfront.net/admin-signatures/signature_20251210_38b30793.png', 1, CAST(N'2025-12-10T14:57:58.6592176' AS DateTime2), CAST(N'2025-12-10T14:57:58.6592176' AS DateTime2))
GO
INSERT [dbo].[contract_signing_tokens] ([id], [registration_id], [token], [expires_at], [is_used], [used_at], [signed_from_ip], [user_agent], [created_at]) VALUES (N'c01fa2b8-9caf-48a2-af1d-158ef0bdc125', N'82b63cca-f78e-4669-8968-94cc0fbf9451', N'pgjVuFrPy2VH3TLxM-QXV0x-a4dFUw0inimLpS9U7VI', CAST(N'2025-12-10T15:18:22.4075801' AS DateTime2), 1, CAST(N'2025-12-03T15:19:14.4494277' AS DateTime2), N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36', CAST(N'2025-12-03T15:18:22.4080878' AS DateTime2))
INSERT [dbo].[contract_signing_tokens] ([id], [registration_id], [token], [expires_at], [is_used], [used_at], [signed_from_ip], [user_agent], [created_at]) VALUES (N'e8db984d-722c-48e1-a368-2fd27f3615a4', N'3c42fbae-df56-4ed7-a85e-19efb87f759c', N'OrHTIZGD0ih5ySg6ptSFxWH32qP_xwRCiTroSVT97W4', CAST(N'2025-12-11T02:33:05.7382610' AS DateTime2), 1, CAST(N'2025-12-04T02:34:02.2636956' AS DateTime2), N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36', CAST(N'2025-12-04T02:33:05.7394930' AS DateTime2))
INSERT [dbo].[contract_signing_tokens] ([id], [registration_id], [token], [expires_at], [is_used], [used_at], [signed_from_ip], [user_agent], [created_at]) VALUES (N'517eafac-34f9-412f-a4eb-40cb5d9f3e6e', N'753051d1-155c-4b99-bd95-7fc720b6ad53', N'TJPiWa5NXntpmlsdzYjzCVuBW6zMEJ4fFFNBMReCmiY', CAST(N'2025-12-10T15:35:23.7402494' AS DateTime2), 1, CAST(N'2025-12-03T15:39:33.7494717' AS DateTime2), N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36', CAST(N'2025-12-03T15:35:23.7402596' AS DateTime2))
GO
INSERT [dbo].[hospital_images] ([id], [hospital_id], [image_url], [created_at]) VALUES (N'ce91299a-fa95-4954-b1d0-00a7312ba081', N'525e1bb3-0f4d-42b1-a796-0139f500fc61', N'https://img.freepik.com/premium-photo/interior-reanimation-room-modern-clinic_179755-864.jpg?uid=R66478976&ga=GA1.1.797286843.1715827330&w=740&q=80', CAST(N'2025-12-02T14:54:04.4700000' AS DateTime2))
INSERT [dbo].[hospital_images] ([id], [hospital_id], [image_url], [created_at]) VALUES (N'0e3cca92-2aef-4bfb-9a5d-0101a4cd8e7e', N'd8166da8-e95e-46c3-a668-d6acfbd44d5e', N'https://img.freepik.com/free-photo/interior-view-operating-room_1170-2254.jpg?t=st=1764661349~exp=1764664949~hmac=3d31c1d817b1303d375184bae4add70f23e34454dc6a8004c3582f51c6e3e3e8&w=740', CAST(N'2025-12-02T14:54:04.4866667' AS DateTime2))
INSERT [dbo].[hospital_images] ([id], [hospital_id], [image_url], [created_at]) VALUES (N'9524739d-60c7-456b-ae61-032180e26583', N'1c31343e-a6b5-49c0-905a-d6a8450cfedb', N'https://img.freepik.com/premium-photo/interior-reanimation-room-modern-clinic_179755-864.jpg?uid=R66478976&ga=GA1.1.797286843.1715827330&w=740&q=80', CAST(N'2025-12-02T14:54:04.4866667' AS DateTime2))
GO
INSERT [dbo].[hospital_service_types] ([hospital_id], [service_type_id], [created_at]) VALUES (N'525e1bb3-0f4d-42b1-a796-0139f500fc61', N'77eecbfd-f4a0-4456-9cc9-09cbb1e00479', CAST(N'2025-12-02T10:42:50.2333333' AS DateTime2))
INSERT [dbo].[hospital_service_types] ([hospital_id], [service_type_id], [created_at]) VALUES (N'525e1bb3-0f4d-42b1-a796-0139f500fc61', N'1e9dae6e-31a3-4a77-8611-8a58bd8e713d', CAST(N'2025-12-02T10:42:50.2333333' AS DateTime2))
INSERT [dbo].[hospital_service_types] ([hospital_id], [service_type_id], [created_at]) VALUES (N'525e1bb3-0f4d-42b1-a796-0139f500fc61', N'610f37d1-c056-408f-82c3-9a2b66546d7b', CAST(N'2025-12-02T10:42:50.2333333' AS DateTime2))
GO
INSERT [dbo].[hospital_specialties] ([hospital_id], [specialty_id]) VALUES (N'525e1bb3-0f4d-42b1-a796-0139f500fc61', N'5669d704-ed3d-4854-b4b9-028a1d8161ff')
INSERT [dbo].[hospital_specialties] ([hospital_id], [specialty_id]) VALUES (N'525e1bb3-0f4d-42b1-a796-0139f500fc61', N'60b761bf-751a-42f0-b7f6-07768e6029d9')
INSERT [dbo].[hospital_specialties] ([hospital_id], [specialty_id]) VALUES (N'525e1bb3-0f4d-42b1-a796-0139f500fc61', N'ecf0760e-6fc7-4ec4-a288-13c9cf94164e')
GO
INSERT [dbo].[hospital_subscriptions] ([hospital_subscription_id], [hospital_id], [subscription_id], [start_date], [end_date], [status], [created_at], [updated_at], [appointment_count], [doctor_count], [service_count], [specialty_count]) VALUES (N'ec8efc42-9939-452d-97c2-02919054d243', N'd594f047-1245-4b09-805f-6046806b1003', N'f7a0720d-66fa-424a-8386-90c0de7003a0', CAST(N'2025-11-22T09:48:35.5466667' AS DateTime2), CAST(N'2026-11-02T09:48:35.5466667' AS DateTime2), N'ACTIVE', CAST(N'2025-12-02T09:48:35.5466667' AS DateTime2), CAST(N'2025-12-02T09:48:35.5466667' AS DateTime2), 0, 0, 0, 0)
INSERT [dbo].[hospital_subscriptions] ([hospital_subscription_id], [hospital_id], [subscription_id], [start_date], [end_date], [status], [created_at], [updated_at], [appointment_count], [doctor_count], [service_count], [specialty_count]) VALUES (N'344cd08c-cd89-46fe-95b6-0c4d636bbb2f', N'ff1e09a6-3534-451b-81d6-a084cffb2aa5', N'819ff87d-bf75-44cd-bdc3-87d0ebfafb02', CAST(N'2025-10-02T09:48:35.5466667' AS DateTime2), CAST(N'2026-10-02T09:48:35.5466667' AS DateTime2), N'ACTIVE', CAST(N'2025-12-02T09:48:35.5466667' AS DateTime2), CAST(N'2025-12-02T09:48:35.5466667' AS DateTime2), 0, 0, 0, 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_admin_signatures_admin_id]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_admin_signatures_admin_id] ON [dbo].[admin_signatures]
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_contract_signing_tokens_registration_id]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_contract_signing_tokens_registration_id] ON [dbo].[contract_signing_tokens]
(
	[registration_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_contract_signing_tokens_token]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_contract_signing_tokens_token] ON [dbo].[contract_signing_tokens]
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hospital_images_hospital_id]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_images_hospital_id] ON [dbo].[hospital_images]
(
	[hospital_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hospital_registrations_admin_signature_id]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_registrations_admin_signature_id] ON [dbo].[hospital_registrations]
(
	[admin_signature_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_hospital_registrations_hospital_email]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_registrations_hospital_email] ON [dbo].[hospital_registrations]
(
	[hospital_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hospital_registrations_hospital_id]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_registrations_hospital_id] ON [dbo].[hospital_registrations]
(
	[hospital_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_hospital_registrations_representative_email]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_registrations_representative_email] ON [dbo].[hospital_registrations]
(
	[representative_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_hospital_registrations_tax_code]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_registrations_tax_code] ON [dbo].[hospital_registrations]
(
	[tax_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_hospital_subscriptions_hospital_active_unique]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_subscriptions_hospital_active_unique] ON [dbo].[hospital_subscriptions]
(
	[hospital_id] ASC,
	[status] ASC
)
WHERE ([status] IN ('ACTIVE', 'TRIAL'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hospital_subscriptions_subscription_id]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_subscriptions_subscription_id] ON [dbo].[hospital_subscriptions]
(
	[subscription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_hospitals_email]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_hospitals_email] ON [dbo].[hospitals]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_subscription_plans_name_billing_cycle_unique]    Script Date: 12/24/2025 7:16:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_subscription_plans_name_billing_cycle_unique] ON [dbo].[subscription_plans]
(
	[name] ASC,
	[billing_cycle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin_signatures] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[admin_signatures] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin_signatures] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[contract_signing_tokens] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_used]
GO
ALTER TABLE [dbo].[contract_signing_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hospital_images] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hospital_registrations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hospital_registrations] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[hospital_registrations] ADD  DEFAULT (N'') FOR [hospital_email]
GO
ALTER TABLE [dbo].[hospital_registrations] ADD  DEFAULT (N'') FOR [hospital_phone]
GO
ALTER TABLE [dbo].[hospital_registrations] ADD  DEFAULT (N'') FOR [representative_name]
GO
ALTER TABLE [dbo].[hospital_registrations] ADD  DEFAULT ((0)) FOR [ekyc_status]
GO
ALTER TABLE [dbo].[hospital_service_medicals] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hospital_service_types] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hospital_subscriptions] ADD  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[hospital_subscriptions] ADD  DEFAULT (getdate()) FOR [end_date]
GO
ALTER TABLE [dbo].[hospital_subscriptions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hospital_subscriptions] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[hospital_subscriptions] ADD  DEFAULT ((0)) FOR [appointment_count]
GO
ALTER TABLE [dbo].[hospital_subscriptions] ADD  DEFAULT ((0)) FOR [doctor_count]
GO
ALTER TABLE [dbo].[hospital_subscriptions] ADD  DEFAULT ((0)) FOR [service_count]
GO
ALTER TABLE [dbo].[hospital_subscriptions] ADD  DEFAULT ((0)) FOR [specialty_count]
GO
ALTER TABLE [dbo].[hospitals] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hospitals] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT (N'MONTHLY') FOR [billing_cycle]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT ((0)) FOR [max_doctors]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT ((0)) FOR [max_specialties]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT ((0)) FOR [max_appointments]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT ((0)) FOR [max_services]
GO
ALTER TABLE [dbo].[contract_signing_tokens]  WITH CHECK ADD  CONSTRAINT [FK_contract_signing_tokens_hospital_registrations_registration_id] FOREIGN KEY([registration_id])
REFERENCES [dbo].[hospital_registrations] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[contract_signing_tokens] CHECK CONSTRAINT [FK_contract_signing_tokens_hospital_registrations_registration_id]
GO
ALTER TABLE [dbo].[hospital_images]  WITH CHECK ADD  CONSTRAINT [FK_hospital_images_hospitals_hospital_id] FOREIGN KEY([hospital_id])
REFERENCES [dbo].[hospitals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hospital_images] CHECK CONSTRAINT [FK_hospital_images_hospitals_hospital_id]
GO
ALTER TABLE [dbo].[hospital_registrations]  WITH CHECK ADD  CONSTRAINT [FK_hospital_registrations_admin_signatures_admin_signature_id] FOREIGN KEY([admin_signature_id])
REFERENCES [dbo].[admin_signatures] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[hospital_registrations] CHECK CONSTRAINT [FK_hospital_registrations_admin_signatures_admin_signature_id]
GO
ALTER TABLE [dbo].[hospital_registrations]  WITH CHECK ADD  CONSTRAINT [FK_hospital_registrations_hospitals_hospital_id] FOREIGN KEY([hospital_id])
REFERENCES [dbo].[hospitals] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[hospital_registrations] CHECK CONSTRAINT [FK_hospital_registrations_hospitals_hospital_id]
GO
ALTER TABLE [dbo].[hospital_service_medicals]  WITH CHECK ADD  CONSTRAINT [FK_hospital_service_medicals_hospitals_hospital_id] FOREIGN KEY([hospital_id])
REFERENCES [dbo].[hospitals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hospital_service_medicals] CHECK CONSTRAINT [FK_hospital_service_medicals_hospitals_hospital_id]
GO
ALTER TABLE [dbo].[hospital_service_types]  WITH CHECK ADD  CONSTRAINT [FK_hospital_service_types_hospitals_hospital_id] FOREIGN KEY([hospital_id])
REFERENCES [dbo].[hospitals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hospital_service_types] CHECK CONSTRAINT [FK_hospital_service_types_hospitals_hospital_id]
GO
ALTER TABLE [dbo].[hospital_specialties]  WITH CHECK ADD  CONSTRAINT [FK_hospital_specialties_hospitals_hospital_id] FOREIGN KEY([hospital_id])
REFERENCES [dbo].[hospitals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hospital_specialties] CHECK CONSTRAINT [FK_hospital_specialties_hospitals_hospital_id]
GO
ALTER TABLE [dbo].[hospital_subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_hospital_subscriptions_hospitals_hospital_id] FOREIGN KEY([hospital_id])
REFERENCES [dbo].[hospitals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hospital_subscriptions] CHECK CONSTRAINT [FK_hospital_subscriptions_hospitals_hospital_id]
GO
ALTER TABLE [dbo].[hospital_subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_hospital_subscriptions_subscription_plans_subscription_id] FOREIGN KEY([subscription_id])
REFERENCES [dbo].[subscription_plans] ([id])
GO
ALTER TABLE [dbo].[hospital_subscriptions] CHECK CONSTRAINT [FK_hospital_subscriptions_subscription_plans_subscription_id]
GO
ALTER TABLE [dbo].[hospital_subscriptions]  WITH CHECK ADD  CONSTRAINT [CK_hospital_subscriptions_end_date] CHECK  (([end_date]>[start_date]))
GO
ALTER TABLE [dbo].[hospital_subscriptions] CHECK CONSTRAINT [CK_hospital_subscriptions_end_date]
GO
ALTER TABLE [dbo].[hospital_subscriptions]  WITH CHECK ADD  CONSTRAINT [CK_hospital_subscriptions_status] CHECK  (([status]='TRIAL' OR [status]='PENDING' OR [status]='CANCELLED' OR [status]='EXPIRED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[hospital_subscriptions] CHECK CONSTRAINT [CK_hospital_subscriptions_status]
GO
ALTER TABLE [dbo].[subscription_plans]  WITH CHECK ADD  CONSTRAINT [CK_subscription_plans_billing_cycle] CHECK  (([billing_cycle]='YEARLY' OR [billing_cycle]='QUARTERLY' OR [billing_cycle]='MONTHLY'))
GO
ALTER TABLE [dbo].[subscription_plans] CHECK CONSTRAINT [CK_subscription_plans_billing_cycle]
GO
ALTER TABLE [dbo].[subscription_plans]  WITH CHECK ADD  CONSTRAINT [CK_subscription_plans_max_appointments] CHECK  (([max_appointments] IS NULL OR [max_appointments]>=(0)))
GO
ALTER TABLE [dbo].[subscription_plans] CHECK CONSTRAINT [CK_subscription_plans_max_appointments]
GO
ALTER TABLE [dbo].[subscription_plans]  WITH CHECK ADD  CONSTRAINT [CK_subscription_plans_max_doctors] CHECK  (([max_doctors] IS NULL OR [max_doctors]>=(0)))
GO
ALTER TABLE [dbo].[subscription_plans] CHECK CONSTRAINT [CK_subscription_plans_max_doctors]
GO
ALTER TABLE [dbo].[subscription_plans]  WITH CHECK ADD  CONSTRAINT [CK_subscription_plans_max_services] CHECK  (([max_services] IS NULL OR [max_services]>=(0)))
GO
ALTER TABLE [dbo].[subscription_plans] CHECK CONSTRAINT [CK_subscription_plans_max_services]
GO
ALTER TABLE [dbo].[subscription_plans]  WITH CHECK ADD  CONSTRAINT [CK_subscription_plans_max_specialties] CHECK  (([max_specialties] IS NULL OR [max_specialties]>=(0)))
GO
ALTER TABLE [dbo].[subscription_plans] CHECK CONSTRAINT [CK_subscription_plans_max_specialties]
GO
ALTER TABLE [dbo].[subscription_plans]  WITH CHECK ADD  CONSTRAINT [CK_subscription_plans_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[subscription_plans] CHECK CONSTRAINT [CK_subscription_plans_price]
GO
ALTER TABLE [dbo].[subscription_plans]  WITH CHECK ADD  CONSTRAINT [CK_subscription_plans_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[subscription_plans] CHECK CONSTRAINT [CK_subscription_plans_status]
GO
USE [master]
GO
