USE [master]
GO
/****** Object:  Database [MABS_Payment]    Script Date: 12/18/2025 8:46:38 PM ******/
CREATE DATABASE [MABS_Payment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MABS_Payment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MABS_Payment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MABS_Payment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MABS_Payment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MABS_Payment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MABS_Payment]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/18/2025 8:46:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bank_accounts]    Script Date: 12/18/2025 8:46:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_accounts](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[bank_code] [nvarchar](10) NOT NULL,
	[bank_name] [nvarchar](255) NOT NULL,
	[account_number] [nvarchar](50) NOT NULL,
	[account_name] [nvarchar](255) NOT NULL,
	[is_default] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_bank_accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospital_payouts]    Script Date: 12/18/2025 8:46:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_payouts](
	[id] [uniqueidentifier] NOT NULL,
	[hospital_id] [uniqueidentifier] NOT NULL,
	[bank_account_id] [uniqueidentifier] NOT NULL,
	[period_start] [datetime2](7) NOT NULL,
	[period_end] [datetime2](7) NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[appointment_count] [int] NOT NULL,
	[status] [nvarchar](450) NOT NULL,
	[processed_by_admin_id] [uniqueidentifier] NULL,
	[processed_at] [datetime2](7) NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[hospital_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_hospital_payouts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_methods]    Script Date: 12/18/2025 8:46:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_methods](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](10) NOT NULL,
	[image_url] [nvarchar](max) NULL,
 CONSTRAINT [PK_payment_methods] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 12/18/2025 8:46:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [uniqueidentifier] NOT NULL,
	[appointment_id] [uniqueidentifier] NULL,
	[hospital_id] [uniqueidentifier] NULL,
	[patient_id] [uniqueidentifier] NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[transaction_type] [nvarchar](20) NOT NULL,
	[payment_method_id] [uniqueidentifier] NOT NULL,
	[status] [nvarchar](10) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[subscription_id] [uniqueidentifier] NULL,
	[payment_intent_id] [nvarchar](255) NULL,
	[hospital_payout_id] [uniqueidentifier] NULL,
	[discount_id] [uniqueidentifier] NULL,
	[discount_code] [nvarchar](50) NULL,
 CONSTRAINT [PK_payments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payos_payment_mappings]    Script Date: 12/18/2025 8:46:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payos_payment_mappings](
	[id] [uniqueidentifier] NOT NULL,
	[payment_id] [uniqueidentifier] NOT NULL,
	[order_code] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[current_hospital_subscription_id] [uniqueidentifier] NULL,
	[hospital_id] [uniqueidentifier] NULL,
	[is_subscription_upgrade] [bit] NULL,
	[subscription_plan_id] [uniqueidentifier] NULL,
	[plan_type] [nvarchar](20) NULL,
 CONSTRAINT [PK_payos_payment_mappings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refund_histories]    Script Date: 12/18/2025 8:46:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refund_histories](
	[id] [uniqueidentifier] NOT NULL,
	[bank_account_id] [uniqueidentifier] NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[transfer_date] [datetime2](7) NULL,
	[payment_id] [uniqueidentifier] NOT NULL,
	[refund_amount] [decimal](10, 2) NOT NULL,
	[refund_reason] [nvarchar](500) NULL,
	[staff_notes] [nvarchar](500) NULL,
	[processed_by_staff_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[hospital_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_refund_histories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_hospital_payouts_bank_account_id]    Script Date: 12/18/2025 8:46:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_payouts_bank_account_id] ON [dbo].[hospital_payouts]
(
	[bank_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hospital_payouts_hospital_id]    Script Date: 12/18/2025 8:46:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_payouts_hospital_id] ON [dbo].[hospital_payouts]
(
	[hospital_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hospital_payouts_hospital_period]    Script Date: 12/18/2025 8:46:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_payouts_hospital_period] ON [dbo].[hospital_payouts]
(
	[hospital_id] ASC,
	[period_start] ASC,
	[period_end] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_hospital_payouts_status]    Script Date: 12/18/2025 8:46:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_hospital_payouts_status] ON [dbo].[hospital_payouts]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payments_payment_method_id]    Script Date: 12/18/2025 8:46:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_payments_payment_method_id] ON [dbo].[payments]
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payos_payment_mappings_payment_id]    Script Date: 12/18/2025 8:46:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_payos_payment_mappings_payment_id] ON [dbo].[payos_payment_mappings]
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refund_histories_bank_account_id]    Script Date: 12/18/2025 8:46:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_refund_histories_bank_account_id] ON [dbo].[refund_histories]
(
	[bank_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refund_histories_payment_id]    Script Date: 12/18/2025 8:46:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_refund_histories_payment_id] ON [dbo].[refund_histories]
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bank_accounts] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_default]
GO
ALTER TABLE [dbo].[bank_accounts] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[bank_accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bank_accounts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[hospital_payouts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hospital_payouts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[hospital_payouts] ADD  DEFAULT (N'') FOR [hospital_name]
GO
ALTER TABLE [dbo].[payment_methods] ADD  DEFAULT (N'') FOR [status]
GO
ALTER TABLE [dbo].[refund_histories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[refund_histories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[refund_histories] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [hospital_id]
GO
ALTER TABLE [dbo].[hospital_payouts]  WITH CHECK ADD  CONSTRAINT [FK_hospital_payouts_bank_account_id] FOREIGN KEY([bank_account_id])
REFERENCES [dbo].[bank_accounts] ([id])
GO
ALTER TABLE [dbo].[hospital_payouts] CHECK CONSTRAINT [FK_hospital_payouts_bank_account_id]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_payment_method_id] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_methods] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_payment_method_id]
GO
ALTER TABLE [dbo].[payos_payment_mappings]  WITH CHECK ADD  CONSTRAINT [FK_payos_payment_mappings_payment_id] FOREIGN KEY([payment_id])
REFERENCES [dbo].[payments] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[payos_payment_mappings] CHECK CONSTRAINT [FK_payos_payment_mappings_payment_id]
GO
ALTER TABLE [dbo].[refund_histories]  WITH CHECK ADD  CONSTRAINT [FK_refund_histories_bank_account_id] FOREIGN KEY([bank_account_id])
REFERENCES [dbo].[bank_accounts] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[refund_histories] CHECK CONSTRAINT [FK_refund_histories_bank_account_id]
GO
ALTER TABLE [dbo].[refund_histories]  WITH CHECK ADD  CONSTRAINT [FK_refund_histories_payment_id] FOREIGN KEY([payment_id])
REFERENCES [dbo].[payments] ([id])
GO
ALTER TABLE [dbo].[refund_histories] CHECK CONSTRAINT [FK_refund_histories_payment_id]
GO
ALTER TABLE [dbo].[bank_accounts]  WITH CHECK ADD  CONSTRAINT [CK_bank_accounts_account_number_length] CHECK  ((len([account_number])>=(6) AND len([account_number])<=(20)))
GO
ALTER TABLE [dbo].[bank_accounts] CHECK CONSTRAINT [CK_bank_accounts_account_number_length]
GO
ALTER TABLE [dbo].[bank_accounts]  WITH CHECK ADD  CONSTRAINT [CK_bank_accounts_account_number_numeric] CHECK  ((NOT [account_number] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[bank_accounts] CHECK CONSTRAINT [CK_bank_accounts_account_number_numeric]
GO
ALTER TABLE [dbo].[bank_accounts]  WITH CHECK ADD  CONSTRAINT [CK_bank_accounts_bank_code_length] CHECK  ((len([bank_code])>=(2) AND len([bank_code])<=(10)))
GO
ALTER TABLE [dbo].[bank_accounts] CHECK CONSTRAINT [CK_bank_accounts_bank_code_length]
GO
ALTER TABLE [dbo].[hospital_payouts]  WITH CHECK ADD  CONSTRAINT [CK_hospital_payouts_appointment_count_positive] CHECK  (([appointment_count]>(0)))
GO
ALTER TABLE [dbo].[hospital_payouts] CHECK CONSTRAINT [CK_hospital_payouts_appointment_count_positive]
GO
ALTER TABLE [dbo].[hospital_payouts]  WITH CHECK ADD  CONSTRAINT [CK_hospital_payouts_period_valid] CHECK  (([period_start]<=[period_end]))
GO
ALTER TABLE [dbo].[hospital_payouts] CHECK CONSTRAINT [CK_hospital_payouts_period_valid]
GO
ALTER TABLE [dbo].[hospital_payouts]  WITH CHECK ADD  CONSTRAINT [CK_hospital_payouts_status] CHECK  (([status]='COMPLETED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[hospital_payouts] CHECK CONSTRAINT [CK_hospital_payouts_status]
GO
ALTER TABLE [dbo].[hospital_payouts]  WITH CHECK ADD  CONSTRAINT [CK_hospital_payouts_total_amount_positive] CHECK  (([total_amount]>(0)))
GO
ALTER TABLE [dbo].[hospital_payouts] CHECK CONSTRAINT [CK_hospital_payouts_total_amount_positive]
GO
ALTER TABLE [dbo].[payment_methods]  WITH CHECK ADD  CONSTRAINT [CK_payment_methods_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[payment_methods] CHECK CONSTRAINT [CK_payment_methods_status]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CK_payments_status] CHECK  (([status]='REFUNDED' OR [status]='FAILED' OR [status]='COMPLETED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CK_payments_status]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CK_payments_transaction_type] CHECK  (([transaction_type]='SUBSCRIPTION' OR [transaction_type]='APPOINTMENT'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CK_payments_transaction_type]
GO
ALTER TABLE [dbo].[refund_histories]  WITH CHECK ADD  CONSTRAINT [CK_refund_histories_refund_amount_positive] CHECK  (([refund_amount]>(0)))
GO
ALTER TABLE [dbo].[refund_histories] CHECK CONSTRAINT [CK_refund_histories_refund_amount_positive]
GO
ALTER TABLE [dbo].[refund_histories]  WITH CHECK ADD  CONSTRAINT [CK_refund_histories_status] CHECK  (([status]='COMPLETED' OR [status]='PENDING' OR [status]='WAITING'))
GO
ALTER TABLE [dbo].[refund_histories] CHECK CONSTRAINT [CK_refund_histories_status]
GO
ALTER TABLE [dbo].[refund_histories]  WITH CHECK ADD  CONSTRAINT [CK_refund_histories_transfer_date_completed] CHECK  (([status]='COMPLETED' AND [transfer_date] IS NOT NULL OR [status]<>'COMPLETED'))
GO
ALTER TABLE [dbo].[refund_histories] CHECK CONSTRAINT [CK_refund_histories_transfer_date_completed]
GO
USE [master]
GO
