USE [master]
GO
/****** Object:  Database [MABS_Schedule]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE DATABASE [MABS_Schedule]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MABS_Schedule', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MABS_Schedule.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MABS_Schedule_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MABS_Schedule_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MABS_Schedule].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MABS_Schedule]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/25/2025 12:59:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clinic_exceptions]    Script Date: 12/25/2025 12:59:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clinic_exceptions](
	[id] [uniqueidentifier] NOT NULL,
	[clinic_id] [uniqueidentifier] NOT NULL,
	[exception_date] [date] NOT NULL,
	[reason] [nvarchar](255) NULL,
 CONSTRAINT [PK_clinic_exceptions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_daily_schedules]    Script Date: 12/25/2025 12:59:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_daily_schedules](
	[id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[schedule_date] [date] NOT NULL,
	[schedule_patterns] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_doctor_daily_schedules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_schedule_exceptions]    Script Date: 12/25/2025 12:59:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_schedule_exceptions](
	[id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[exception_date] [date] NOT NULL,
	[appointment_time] [int] NULL,
	[exception_type] [nvarchar](20) NOT NULL,
	[is_available] [bit] NOT NULL,
	[reason] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[review_comments] [nvarchar](500) NULL,
	[reviewed_at] [datetime2](7) NULL,
	[reviewed_by] [uniqueidentifier] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_doctor_schedule_exceptions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_medical_daily_schedules]    Script Date: 12/25/2025 12:59:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_medical_daily_schedules](
	[id] [uniqueidentifier] NOT NULL,
	[service_medical_id] [uniqueidentifier] NOT NULL,
	[schedule_date] [date] NOT NULL,
	[schedule_patterns] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_service_medical_daily_schedules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_medical_schedule_exceptions]    Script Date: 12/25/2025 12:59:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_medical_schedule_exceptions](
	[id] [uniqueidentifier] NOT NULL,
	[service_medical_id] [uniqueidentifier] NOT NULL,
	[exception_date] [date] NOT NULL,
	[appointment_time] [int] NULL,
	[exception_type] [nvarchar](20) NOT NULL,
	[is_available] [bit] NOT NULL,
	[reason] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[review_comments] [nvarchar](500) NULL,
	[reviewed_at] [datetime2](7) NULL,
	[reviewed_by] [uniqueidentifier] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_service_medical_schedule_exceptions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_schedules]    Script Date: 12/25/2025 12:59:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_schedules](
	[id] [uniqueidentifier] NOT NULL,
	[service_id] [uniqueidentifier] NOT NULL,
	[schedule_patterns] [nvarchar](max) NOT NULL,
	[clinic_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_service_schedules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250929125034_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251118004948_AddServiceMedicalSchedule', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251223175048_AddExceptionApprovalWorkflow', N'8.0.0')
GO
INSERT [dbo].[doctor_daily_schedules] ([id], [doctor_id], [schedule_date], [schedule_patterns], [created_at], [updated_at]) VALUES (N'bd3615a1-308a-4506-82f9-00151966b2c5', N'308bd077-d9f8-4ebf-bef4-90fefa69cc28', CAST(N'2025-12-27' AS Date), N'[1,2]', CAST(N'2025-12-16T14:51:24.7433333' AS DateTime2), CAST(N'2025-12-16T14:51:24.7433333' AS DateTime2))
INSERT [dbo].[doctor_daily_schedules] ([id], [doctor_id], [schedule_date], [schedule_patterns], [created_at], [updated_at]) VALUES (N'd3c6627d-534f-4b04-bb0b-006676f53a18', N'792893f5-6bb7-4f34-887f-6f8c6ad08287', CAST(N'2026-01-01' AS Date), N'[1,2]', CAST(N'2025-12-16T14:51:24.7433333' AS DateTime2), CAST(N'2025-12-16T14:51:24.7433333' AS DateTime2))
INSERT [dbo].[doctor_daily_schedules] ([id], [doctor_id], [schedule_date], [schedule_patterns], [created_at], [updated_at]) VALUES (N'884eeec5-1b71-43b6-9c9e-008bf7d024ac', N'df4e4454-b519-46c6-ac3a-3e7a20acd4ee', CAST(N'2025-12-26' AS Date), N'[1,2]', CAST(N'2025-12-16T14:51:24.7433333' AS DateTime2), CAST(N'2025-12-16T14:51:24.7433333' AS DateTime2))
GO
INSERT [dbo].[doctor_schedule_exceptions] ([id], [doctor_id], [exception_date], [appointment_time], [exception_type], [is_available], [reason], [created_at], [review_comments], [reviewed_at], [reviewed_by], [status]) VALUES (N'2c41a42b-e709-4f3e-8b3c-19adaab5727c', N'ca326e1e-52bc-48f4-9e03-0171aa6fcbce', CAST(N'2025-12-25' AS Date), 2, N'BLOCK_SLOT', 0, N'bận việc', CAST(N'2025-12-24T14:54:13.2054333' AS DateTime2), N'không được duyệt', CAST(N'2025-12-24T15:57:33.7145426' AS DateTime2), N'bb94138c-ee2b-45fc-a280-0749be828f12', 3)
INSERT [dbo].[doctor_schedule_exceptions] ([id], [doctor_id], [exception_date], [appointment_time], [exception_type], [is_available], [reason], [created_at], [review_comments], [reviewed_at], [reviewed_by], [status]) VALUES (N'80137c1b-3472-45fc-861b-9e88b2b750dd', N'ca326e1e-52bc-48f4-9e03-0171aa6fcbce', CAST(N'2025-12-26' AS Date), 3, N'BLOCK_SLOT', 0, N'tôi bận', CAST(N'2025-12-24T15:52:14.0517972' AS DateTime2), NULL, CAST(N'2025-12-24T15:52:40.5834394' AS DateTime2), N'bb94138c-ee2b-45fc-a280-0749be828f12', 2)
INSERT [dbo].[doctor_schedule_exceptions] ([id], [doctor_id], [exception_date], [appointment_time], [exception_type], [is_available], [reason], [created_at], [review_comments], [reviewed_at], [reviewed_by], [status]) VALUES (N'5d234b52-9c59-4b93-be2f-cab13655c697', N'ca326e1e-52bc-48f4-9e03-0171aa6fcbce', CAST(N'2025-12-25' AS Date), 1, N'BLOCK_SLOT', 0, N'bận việc', CAST(N'2025-12-24T14:54:13.1873396' AS DateTime2), NULL, CAST(N'2025-12-24T15:47:22.4236116' AS DateTime2), N'bb94138c-ee2b-45fc-a280-0749be828f12', 2)
GO
INSERT [dbo].[service_medical_daily_schedules] ([id], [service_medical_id], [schedule_date], [schedule_patterns], [created_at], [updated_at]) VALUES (N'60768916-a9ca-4ca8-a5f2-04b0bb0f0b31', N'076b2c88-37e4-4b62-a2be-40447206d17b', CAST(N'2025-12-25' AS Date), N'[1,2,3]', CAST(N'2025-11-25T15:33:58.7866667' AS DateTime2), CAST(N'2025-12-24T12:48:51.2950935' AS DateTime2))
INSERT [dbo].[service_medical_daily_schedules] ([id], [service_medical_id], [schedule_date], [schedule_patterns], [created_at], [updated_at]) VALUES (N'0a25efaf-65ed-4d06-bf03-74559889da93', N'de140382-2a50-4e99-bf35-d05e2885789d', CAST(N'2025-12-24' AS Date), N'[1,2]', CAST(N'2025-12-24T12:49:15.4951741' AS DateTime2), CAST(N'2025-12-24T12:49:46.3270397' AS DateTime2))
GO
/****** Object:  Index [IX_clinic_exceptions_clinic_id_exception_date]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_clinic_exceptions_clinic_id_exception_date] ON [dbo].[clinic_exceptions]
(
	[clinic_id] ASC,
	[exception_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_daily_schedules_doctor_id]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_doctor_daily_schedules_doctor_id] ON [dbo].[doctor_daily_schedules]
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_daily_schedules_doctor_id_schedule_date]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_doctor_daily_schedules_doctor_id_schedule_date] ON [dbo].[doctor_daily_schedules]
(
	[doctor_id] ASC,
	[schedule_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_daily_schedules_schedule_date]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_doctor_daily_schedules_schedule_date] ON [dbo].[doctor_daily_schedules]
(
	[schedule_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_schedule_exceptions_doctor_id_exception_date]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_doctor_schedule_exceptions_doctor_id_exception_date] ON [dbo].[doctor_schedule_exceptions]
(
	[doctor_id] ASC,
	[exception_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_doctor_schedule_exceptions_exception_type]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_doctor_schedule_exceptions_exception_type] ON [dbo].[doctor_schedule_exceptions]
(
	[exception_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_medical_daily_schedules_schedule_date]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_service_medical_daily_schedules_schedule_date] ON [dbo].[service_medical_daily_schedules]
(
	[schedule_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_medical_daily_schedules_service_medical_id]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_service_medical_daily_schedules_service_medical_id] ON [dbo].[service_medical_daily_schedules]
(
	[service_medical_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_medical_daily_schedules_service_medical_id_schedule_date]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_service_medical_daily_schedules_service_medical_id_schedule_date] ON [dbo].[service_medical_daily_schedules]
(
	[service_medical_id] ASC,
	[schedule_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_service_medical_schedule_exceptions_exception_type]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_service_medical_schedule_exceptions_exception_type] ON [dbo].[service_medical_schedule_exceptions]
(
	[exception_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_medical_schedule_exceptions_service_medical_id_exception_date]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_service_medical_schedule_exceptions_service_medical_id_exception_date] ON [dbo].[service_medical_schedule_exceptions]
(
	[service_medical_id] ASC,
	[exception_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_schedules_clinic_id]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_service_schedules_clinic_id] ON [dbo].[service_schedules]
(
	[clinic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_schedules_service_id]    Script Date: 12/25/2025 12:59:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_service_schedules_service_id] ON [dbo].[service_schedules]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[doctor_daily_schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_daily_schedules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[doctor_schedule_exceptions] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_available]
GO
ALTER TABLE [dbo].[doctor_schedule_exceptions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_schedule_exceptions] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[service_medical_daily_schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_medical_daily_schedules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[service_medical_schedule_exceptions] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_available]
GO
ALTER TABLE [dbo].[service_medical_schedule_exceptions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_medical_schedule_exceptions] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[service_schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_schedules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
USE [master]
GO
