USE [master]
GO
/****** Object:  Database [MABS_ServiceMedical]    Script Date: 21/12/2025 10:37:35 SA ******/
CREATE DATABASE [MABS_ServiceMedical]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MABS_ServiceMedical', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MABS_ServiceMedical.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MABS_ServiceMedical_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MABS_ServiceMedical_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MABS_ServiceMedical].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MABS_ServiceMedical]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/12/2025 10:37:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_categories]    Script Date: 21/12/2025 10:37:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_categories](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image_url] [nvarchar](max) NULL,
	[parent_id] [uniqueidentifier] NULL,
	[status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_service_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 21/12/2025 10:37:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[image_url] [nvarchar](max) NULL,
	[hospital_id] [uniqueidentifier] NOT NULL,
	[service_category_id] [uniqueidentifier] NULL,
	[status] [nvarchar](10) NOT NULL,
	[duration_time] [int] NOT NULL,
 CONSTRAINT [PK_services] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250101000000_RemoveServiceScheduleTable', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250925140937_InitialCreate', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250925160900_RemoveHospitalServiceAddDurationTime', N'9.0.9')
GO
INSERT [dbo].[service_categories] ([id], [name], [description], [image_url], [parent_id], [status]) VALUES (N'ee50cb1c-bd46-4e0b-accf-04825664a19b', N'Khám tổng quát', N'Khám sức khỏe định kỳ và tầm soát cơ bản', N'https://d24em9p7s2uixh.cloudfront.net/service-categories/images/20230222_kham_tong_quat_bao_nhieu_tien_1_20251209_d657d270.jpg', NULL, N'ACTIVE')
INSERT [dbo].[service_categories] ([id], [name], [description], [image_url], [parent_id], [status]) VALUES (N'1a3dc8a1-e8b5-438d-811d-21229ad595a5', N'Xét nghiệm nước tiểu', N'Kiểm tra chỉ số sức khỏe qua nước tiểu', N'https://d24em9p7s2uixh.cloudfront.net/service-categories/images/xet_nghiem_nuoc_tieu_20251220_1c4f35b1.jpg', N'3574a994-b4e8-4749-a0e9-b88d8c13cf7b', N'ACTIVE')
INSERT [dbo].[service_categories] ([id], [name], [description], [image_url], [parent_id], [status]) VALUES (N'70f1d9cd-ffb5-4b62-a4ac-286bd2408e52', N'Nội soi tai mũi họng', N'Kiểm tra tai mũi họng bằng nội soi', N'https://d24em9p7s2uixh.cloudfront.net/service-categories/images/images_20251220_18853ce0.jpg', N'f3b55331-2034-44f7-a04d-84254ebdc2c8', N'ACTIVE')
GO
INSERT [dbo].[services] ([id], [name], [description], [price], [image_url], [hospital_id], [service_category_id], [status], [duration_time]) VALUES (N'9cda6841-0c2d-41b7-87e7-0059fdffa7b6', N'Nhổ răng khôn mọc lệch', N'Tiểu phẫu răng khôn mọc lệch, gây đau và viêm lợi trùm.', CAST(1500000.00 AS Decimal(10, 2)), N'https://d24em9p7s2uixh.cloudfront.net/services/images/nha_khoa_1_20251220_af83efa6.jpg', N'd44f9602-746e-4e50-b426-56fa34b3194d', N'2063b400-fb54-4ffd-86c7-a3edccc12c11', N'ACTIVE', 60)
INSERT [dbo].[services] ([id], [name], [description], [price], [image_url], [hospital_id], [service_category_id], [status], [duration_time]) VALUES (N'df44e115-f774-4b4f-aa9b-02d942de8127', N'Gói khám sức khỏe định kỳ nâng cao', N'Bổ sung siêu âm, X-quang và các xét nghiệm chuyên sâu.', CAST(1800000.00 AS Decimal(10, 2)), N'https://d24em9p7s2uixh.cloudfront.net/services/images/tai_xuong_4_20251220_88be00cb.jpg', N'f216f81f-67eb-412f-887f-559f27329890', N'73e9281f-b865-4ce7-8459-3ffc6653baa5', N'ACTIVE', 90)
INSERT [dbo].[services] ([id], [name], [description], [price], [image_url], [hospital_id], [service_category_id], [status], [duration_time]) VALUES (N'b29930da-8631-4404-a80e-06ee2e28a759', N'Nhổ răng khôn mọc thẳng', N'Nhổ răng khôn mọc đủ chỗ, ít sang chấn, gây tê tại chỗ.', CAST(800000.00 AS Decimal(10, 2)), N'https://d24em9p7s2uixh.cloudfront.net/services/images/nha_khoa_1_20251220_f7ac7a67.jpg', N'525e1bb3-0f4d-42b1-a796-0139f500fc61', N'2063b400-fb54-4ffd-86c7-a3edccc12c11', N'ACTIVE', 40)
GO
/****** Object:  Index [IX_service_categories_parent_id]    Script Date: 21/12/2025 10:37:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_service_categories_parent_id] ON [dbo].[service_categories]
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_services_service_category_id]    Script Date: 21/12/2025 10:37:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_services_service_category_id] ON [dbo].[services]
(
	[service_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT (N'INACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (N'INACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT ((0)) FOR [duration_time]
GO
ALTER TABLE [dbo].[service_categories]  WITH CHECK ADD  CONSTRAINT [FK_service_categories_service_categories_parent_id] FOREIGN KEY([parent_id])
REFERENCES [dbo].[service_categories] ([id])
GO
ALTER TABLE [dbo].[service_categories] CHECK CONSTRAINT [FK_service_categories_service_categories_parent_id]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [FK_services_service_categories_service_category_id] FOREIGN KEY([service_category_id])
REFERENCES [dbo].[service_categories] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [FK_services_service_categories_service_category_id]
GO
ALTER TABLE [dbo].[service_categories]  WITH CHECK ADD  CONSTRAINT [CK_ServiceCategory_Status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[service_categories] CHECK CONSTRAINT [CK_ServiceCategory_Status]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [CK_Service_Status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [CK_Service_Status]
GO
USE [master]
GO
