USE [master]
GO
/****** Object:  Database [MABS_User]    Script Date: 12/18/2025 8:48:54 PM ******/
CREATE DATABASE [MABS_User]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'booking_care_user_db_dev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\booking_care_user_db_dev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'booking_care_user_db_dev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\booking_care_user_db_dev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MABS_User].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MABS_User]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/18/2025 8:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientRelatives]    Script Date: 12/18/2025 8:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientRelatives](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Relationship] [nvarchar](20) NOT NULL,
	[HealthInsuranceNumber] [nvarchar](20) NULL,
	[IdentityNumber] [nvarchar](20) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PatientRelatives] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/18/2025 8:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](20) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](10) NULL,
	[AvatarUrl] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250915140949_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251127030523_AddPatientRelativeEntity', N'8.0.0')
GO
INSERT [dbo].[PatientRelatives] ([Id], [UserId], [FirstName], [LastName], [Gender], [DateOfBirth], [Phone], [Relationship], [HealthInsuranceNumber], [IdentityNumber], [Notes], [CreatedAt], [UpdatedAt]) VALUES (N'8f9e4c0c-5ccf-488a-b007-983ec4d026ae', N'4db5d05e-e14e-4a1b-8253-60ef4e6ded7d', N'Kiều', N'Bình Hoa', N'MALE', CAST(N'2003-11-27T00:00:00.0000000' AS DateTime2), NULL, N'CHILD', NULL, NULL, NULL, CAST(N'2025-11-27T03:49:23.3062269' AS DateTime2), CAST(N'2025-11-30T05:25:12.9726837' AS DateTime2))
GO
INSERT [dbo].[Users] ([Id], [AccountId], [Email], [FirstName], [LastName], [Gender], [DateOfBirth], [Address], [Phone], [AvatarUrl], [CreatedAt], [UpdatedAt]) VALUES (N'1f79eaa4-1917-4116-30e8-08ddfa706876', N'1f79eaa4-1917-4116-30e8-08ddfa706877', N'abc@gmail.com', N'Kiều', N'Huy', N'MALE', CAST(N'2003-12-07T00:00:00.0000000' AS DateTime2), N'Nguyen doa', N'0763583080', N'https://www.svgrepo.com/show/452030/avatar-default.svg', CAST(N'2025-09-23T19:40:21.2400000' AS DateTime2), CAST(N'2025-10-02T13:10:30.6074965' AS DateTime2))
INSERT [dbo].[Users] ([Id], [AccountId], [Email], [FirstName], [LastName], [Gender], [DateOfBirth], [Address], [Phone], [AvatarUrl], [CreatedAt], [UpdatedAt]) VALUES (N'0a34dd55-10dc-4b6e-afcd-16cedd90ba1d', N'43a71033-ca75-4380-7a03-08de12d8d27b', N'gitax77080@okcdeals.com', N'John', N'Doe', N'MALE', CAST(N'2002-12-31T00:00:00.0000000' AS DateTime2), N'123 Main St', N'0896210391', N'https://d24em9p7s2uixh.cloudfront.net/avatars/patients/female_20251003_d13e4998.png', CAST(N'2025-10-08T07:33:11.4246503' AS DateTime2), CAST(N'2025-12-11T11:50:44.3015056' AS DateTime2))
INSERT [dbo].[Users] ([Id], [AccountId], [Email], [FirstName], [LastName], [Gender], [DateOfBirth], [Address], [Phone], [AvatarUrl], [CreatedAt], [UpdatedAt]) VALUES (N'4db5d05e-e14e-4a1b-8253-60ef4e6ded7d', N'b26d1838-9e20-414e-17b6-08de01bb9986', N'kieuvanhuy813@gmail.com', N'Kiều', N'Huy', N'MALE', CAST(N'2000-09-20T00:00:00.0000000' AS DateTime2), N'Nguyen doa', N'0763583081', N'https://d24em9p7s2uixh.cloudfront.net/avatars/patients/anh_20251003_8527029c.jpg', CAST(N'2025-10-02T13:57:18.6794465' AS DateTime2), CAST(N'2025-12-09T03:53:54.2032559' AS DateTime2))
GO
/****** Object:  Index [IX_PatientRelatives_UserId]    Script Date: 12/18/2025 8:48:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_PatientRelatives_UserId] ON [dbo].[PatientRelatives]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientRelatives] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PatientRelatives] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'https://bookingcaree.com/user-avatar-default.png') FOR [AvatarUrl]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PatientRelatives]  WITH CHECK ADD  CONSTRAINT [FK_PatientRelatives_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatientRelatives] CHECK CONSTRAINT [FK_PatientRelatives_Users_UserId]
GO
USE [master]
GO
